.fill() {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.column() {
  display: flex;
  flex-direction: column;
  flex: 1;
  .fill();
}

.row() {
  display: flex;
  flex-direction: row;
  flex: 1;
  .fill();
}

.fonts() {
  font-family: 'Helevetica Neue', Helvetica;
}

* { 
  margin: 0; 
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  // here is a crazy idea...
  //.fill();
  // oh look, everything is way simpler now 🙄
}

html {
  .fill();
  font-size: 70%;
}

body {
  .fonts();
  .column();
}

parseerror {
  font-family: "Courier New", monospace;
  font-size: 1.5rem;
  unicode-bidi: embed;
  white-space: pre;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  letter-spacing: -0.05rem;
  padding: 1rem;
  background: rgb(242, 119, 122);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#react-mount-node {
  .column();

  > .repl {

    .row();
    > .playground {
      .fill();
      position: relative;
    }

    > .code {
      .fill();
      background-color: darken(#282C34, 5%);
      > .inner {
        .column();

        > .presets {
          .fill();
          height: 40px;
          padding: 0 1.5rem;
          background-color: darken(#282C34, 10%);
          > .inner {
            .row();
            overflow: visible;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
          }
        }
      }
    }
  }  
}

.editor {
  .fill();
  > .ReactCodeMirror {
    .fill();
    padding-top: 0.5rem;
    background-color: #282C34;
    .CodeMirror {
      font-size: 1.5rem;
      font-family: source-code-pro, Menlo, Consolas, Monaco, "Andale Mono", "Courier New", monospace;
      .fill();
    }
  }
}

        

  
